<div class="row">
  <div class="col-12 borders">
    <div>
      <color-ref color="maroon">
        Employee Dashboard
      </color-ref>
      <color-ref color="green">
        Employee Taskbar
      </color-ref>
      <color-ref color="black">
        Employee Form
      </color-ref>
      <color-ref color="blue">
        Employee List
      </color-ref>
      <color-ref color="yellow">
        Employee Item
      </color-ref>
    </div>
    <app-employee-taskbar
      [employees]="employees"
      (ShowEmployeeForm)="onShowEmployeeForm($event)"
    ></app-employee-taskbar>
    <hr />
    <app-employee-form
      *ngIf="isNewEmployee"
      (NewEmployee)="onNewEmployee($event)"
      (Cancel)="onEmployeeFormCancel()"
    ></app-employee-form>
    <app-employee-list
      [employees]="employees"
      (EmployeeUpdate)="onEmployeeUpdate($event)"
      (EmployeeDelete)="onEmployeeDelete($event)"
    ></app-employee-list>
  </div>
</div>
